:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  /* background-image: linear-gradient(#ff9d2f, #ff6126); */
  /* background: -moz-linear-gradient(top, #0098D6 0%, #0079AB 50%, #006994 100%);
  background: -webkit-linear-gradient(top, #0098D6 0%, #0079AB 50%, #006994 100%);
  background: linear-gradient(to bottom, #0098D6 0%, #0079AB 50%, #006994 100%); */
  

  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}