
.para-0 {
    background-image: linear-gradient(135deg, #777, #111);
    background-size: cover;
}

.para-1 {
    position: relative;
    height: 800px;
    background-image: linear-gradient(#ff9d2f, #ff6126);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
}


.home-page {

    display: flex;
    justify-content: space-around;
    position: relative;
    
    .text-zone {
        position: relative;
        left: 2%;
        // top: 37%;
        // transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        // color: #FAF9F6;
        color: #4d4d4e;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before {
            // content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            // content: '<h1/>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;

        }

        img {
            width: 32px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2 {
        // color: #FAF9F6;
        color: #4d4d4e;
        margin-top: 20px;
        font-weight: 400;
        font-size: 18px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: #4d4d4e;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #4d4d4e;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: #ffd700;
            color: #333;
        }
    }

    .scroll-message {
        position: absolute;
        display: flex;
        flex-direction: row;
        bottom: 69px;
        left: 50px;
        color: #4d4d4e;
        font-size: 17px;

        svg {
            height: 100%;
            width: 100%;
            font-size: 30px;
            margin-left: 5px;
        }
    }
}
